@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.75rem;
}
header {
  margin-bottom: 3rem;
}
a {
  color: white;
}

.bookimg {
  width: 15rem;
}
.bookimgedit {
  width: 7rem;
}
input {
  display: block;
}

.hidden {
  display: none;
}

.error {
  font-size: 0.75rem;
  color: red;
}
