:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.bookimg {
  width: 15rem;
}
.bookimgedit {
  width: 7rem;
}
input {
  display: block;
}

.hidden {
  display: none;
}

.error {
  font-size: 0.75rem;
  color: red;
}
